body{
    font-family: 'Montserrat', sans-serif;
}

header{
    background: #bbbbbb;    /*cor de fundo*/
    padding: 20px;
}

.caixa{
    width: 940px;
    position: relative;     /*o elemento será ajustado de acordo com as indicações*/
    margin: 0 auto;
}

nav{
    position: absolute;  /*pode posicionar qualquer elemento de acordo com o elemento pai que tenha um position diferente de static*/
    top: 110px;
    right: 0;
}

nav li{
    display: inline;        /*faz com que o elemento HTML seja renderizado inline, dentro do bloco na mesma linha*/
    margin: 0 0 0 15px;
}

nav a {
    text-transform: uppercase;
    color: black;               /*cor do elemento*/
    font-weight: bold;         /*  deixar palavras em negrito */
    font-size: 22px;
    text-decoration: none;      /*tira a marcação de descrição*/
}

nav a:hover {
    color: yellow;
    text-decoration: underline;
}

.produtos{
    width: 940px;
    margin: 0 auto;
    padding: 50px 0;
}

.produtos li{
    display: inline-block;
    text-align: center;         /*centralizar elemento */
    width: 30%;
    vertical-align: top;
    margin: 0 1.5%;
    padding: 30px 20px;
    box-sizing: border-box;     /*ajustar elementos dentro de uma caixa*/
    border: 2px solid #000000;
    border-radius: 10px;
}

.produtos li:hover{             /*"hover" muda a cor de elementos quando o mouse está por cima  do elemento*/
    border-color: yellow;
}

.produtos li:active{        /*"active" muda a cor de elementos quando é clicado pelo mouse */
    border-color: green;
}

.produtos li:hover h2 {         /*"hover" muda o tamanho de elemento quando o mouse está por cima */
    font-size: 31px;
}

.produtos h2{
    font-size: 30px;    /*aumentar o tamanho da fonte */
    font-weight: bold;
    text-transform: uppercase;      /*transformar a fonte em maiuscúlo*/
}

.produto-descricao{
    font-size: 18px;

}

.produto-preco{
    font-size: 22px;
    font-weight: bold;
    margin-top: 10px;
}

.copyright {
    color: white;
    font-size: 13px;
    margin: 20px 0 0;
}



form{
    margin: 40px 0;
}

form label, form legend{
    display: block;
    font-size: 20px;
    margin: 0 0 10px;
}

.input-padrao{
    display: block;
    margin: 0 0 20px;
    padding: 10px 25px;
    width: 50%;
}

.checkbox{
    margin: 20px 0;
}

.enviar{
    width: 40%;
    padding: 15px 0;
    background: orange;
    color: white;
    font-weight: bold;
    font-size: 18px;
    border: none;   /*remover borda do botão*/
    border-radius: 5px;
    transition: 1s all;   /*transforma a cor lentamente*/
    cursor: pointer;        /*mudar o cursor do mouse para mãozinha*/
}

.enviar:hover {         /*mudar elemento quando o mouse estiver por cima de tal elemento*/
    background: green;
    transform: scale(1.2);      /*aumentar o tamnho do elemento*/
    /* transform: rotate(70deg) scale(1.2);             rotaciona o elemento e aumenta o tamanho do elemento */
}

table{
    margin: 20px 0 40px;
}

thead{
    background: #555555;
    color: white;
    font-weight: bold;
}

td, th {
    border: 1px solid #000;
    padding: 8px 15px;
}

/* css da página inicial*/
.banner{
	width: 100%;
}

.titulo-principal{
	text-align: center;
	font-size: 2em;
	margin: 0 0 1em;
    clear: left;
    /* color: rgba(0, 0, 0, 0.3);      titulo com opacidade*/
    /* text-shadow: 2px 2px #ff0000;   texto com sombra */
}

.principal {
    padding: 3em 0;
    background: #fefefefe;
    width: 940px;
    margin: 0 auto;
}

.principal p {
    margin: 0 0 1em;
}

.principal strong{
    font-weight: bold;
}

.principal em {
    font-style: italic;
}

.utensilios{
    width: 120px;
    float: left;
    margin: 0 20px 20px 0;
    border-radius: 5px;
    box-shadow: 10px 10px 30px #000000;     /*sombra para elemento*/
}

.mapa{
    padding: 3em 0;
    background: linear-gradient(#fefefe, #888888);  /*fundo com degradê*/
}

.mapa-conteudo{
    width: 940px;
    margin: 0 auto;
}

.mapa p{
    padding: 0 0 2em;
    text-align: center;
}

.beneficios {
    padding: 3em 0;
    background: #888888;
}

.conteudo-beneficios{
    width: 640px;
    margin: 0 auto;
}

.lista-beneficios{
    width: 40%;
    display: inline-block;
    vertical-align: top;
}

.itens{
    line-height: 1.5; /*aumentar o tamnho da linha*/
}

.itens:first-child{ 
    font-weight: bold;

}

.itens:before{
    content: "⭐";      /*Mostrar elemento antes*/
}


.imagem-beneficios{
    width: 60%;             /*largura de 60%*/
    opacity: 0.9;           /*Deixar imagem com pouca claridade*/
    transition: 400ms;      /*Faz transição de escuro para claro*/
    box-shadow: 10px 10px 30px #000000;     /*sombra para elemento*/
}

.imagem-beneficios:hover{       /*quando o mouse estiver por cima*/
    opacity: 1;             /*Deixar imagem com pouca claridade*/
}

.video{
    width: 560px;
    margin: 2em auto;
}

@media screen and (max-width: 480px){ /* dentro dessa media query que criamos um estilo visual que compreenda telas de até 480px.*/
    .caixa, .principal, .conteudo-beneficios, .mapa-conteudo, .video{
        width: auto;
    }

    h1{
        text-align: center;
    }
    nav {
        position: static;
    }

    .lista-beneficios, .imagem-beneficios{
        width: 100%;
    }
}

